$primaryBgColor: #E8F5E9
$primaryBgColorLight: #4caf50
$primaryBgColorDark: #43a047

$primaryTextColor: #E8F5E9
$primaryTextColorLight: #4caf50
$primaryTextColorDark: #43a047

$linkColor: #F0F4C3
$linkHoverColor: #E6EE9C

$pageTitleColor: #95d097

$accentBgColor: #1B5E20
$accentBgColorLight: #33691E

body
  margin: 0
  font-family: Lato, sans-serif

.clearfix:after
	visibility: hidden
	display: block
	font-size: 0
	content: " "
	clear: both
	height: 0

* html .clearfix
  zoom: 1

*:first-child+html .clearfix
  zoom: 1

.main-menu
  list-style: none
  padding: 0
  margin: 1em 0

  li
    display: inline-block
    margin-right: 10px

    a
      text-transform: uppercase
      font-family: Lato, sans-serif
      padding: 10px 15px
      text-decoration: none
      color: $primaryTextColorLight
      font-weight: bold

      &:hover, &:focus
        color: $primaryTextColorDark
        background-color: $primaryBgColor
        transition: background-color 500ms

    &:last-child
      margin-right: 0

.left-side, .right-side
  width: 250px
  display: inline-block
  height: 390px
  overflow-y: auto
  padding: 15px
  zoom: 1.2

  h1, h2
    color: $primaryTextColor

  h1
    font-size: 28px
    text-align: center
    margin-top: 12px

  h2
    font-size: 24px

  p
    text-align: justify
    color: $primaryTextColor

  a
    text-decoration: none
    color: $linkColor

    &:hover, &:focus
      color: $linkHoverColor

.left-side
  background-color: $primaryBgColorLight
  border-radius: 15px 0 0 15px

  img
    width: 96px
    height: 96px

.right-side
  background-color: $primaryBgColorDark
  border-radius: 0 15px 15px 0

.text-center
  text-align: center

.text-justify
  text-align: justify

.inline-block
  display: inline-block

.page-title
  float: right
  margin-top: -25px
  color: $pageTitleColor
  text-transform: uppercase
  cursor: default

.bookmark
  border: 15px solid $accentBgColorLight
  width: 0
  height: 17px
  border-bottom-color: transparent
  margin-left: 300px
  cursor: move
  zoom: 1.2
  animation-name: pickme
  animation-duration: 3s
  animation-iteration-count: infinite
  animation-direction: alternate

  &:hover, &:focus
    border-color: $accentBgColor $accentBgColor transparent $accentBgColor
    transition: border-color 2s

.auth-form
  color: $primaryTextColor

  input
    display: block
    width: 100%
    border-width: 0
    padding: 4px
    margin: 4px 0
    font-family: Lato, sans-serif

  input[type="submit"]
    background-color: $accentBgColor
    cursor: pointer
    color: $primaryTextColor

    &:hover, &:focus
      background-color: $accentBgColorLight

.message
  background-color: $primaryBgColorLight
  padding: 10px

.login-success
  background-color: $primaryBgColorDark
  padding: 4px 30px
  border-radius: 3px
  color: $primaryTextColor
  max-width: 250px
  zoom: 1.2

  img
    width: 96px
    height: 96px
    margin-top: 15px

  a
    text-decoration: none
    color: $linkColor

    &:hover, &:focus
      color: $linkHoverColor

button.logout
  text-transform: uppercase
  border: 1px solid $primaryBgColorDark
  border-radius: 4px
  padding: 8px 16px
  font-family: Lato, sans-serif
  cursor: pointer
  background-color: $primaryBgColorLight
  color: $primaryTextColor

  &:hover, &:focus
    background-color: $primaryBgColorDark

.form-settings
  border: 1px solid $primaryBgColorDark
  border-radius: 4px
  padding: 16px
  margin: 16px 0

  label
    display: block
    text-transform: uppercase
    border-bottom: 1px solid $primaryBgColorDark
    margin-bottom: 8px
    color: $primaryTextColorDark

    input
      font-family: Lato, sans-serif
      display: block
      width: 230px
      margin-top: 8px
      font-size: 16px
      padding: 4px 8px
      border-width: 0
      background-color: $primaryBgColor
      border-radius: 4px 4px 0 0
      color: $primaryTextColorDark

  input[type="submit"]
    text-transform: uppercase
    border: 1px solid $primaryBgColorDark
    border-radius: 4px
    padding: 8px 16px
    font-family: Lato, sans-serif
    cursor: pointer
    background-color: $primaryBgColorLight
    color: $primaryTextColor
    width: 100%
    
    &:hover, &:focus
      background-color: $primaryBgColorDark

@keyframes pickme
  0%
    height: 17px
  40%
    height: 17px
  45%
    height: 10px
  50%
    height: 20px
  55%
    height: 8px
  60%
    height: 28px
  65%
    height: 12px
  70%
    height: 17px
  100%
    height: 17px

@media screen and (max-width: 850px)
  .left-side, .right-side, .bookmark
    zoom: 1

@media screen and (max-width: 600px)
  .left-side, .right-side
    display: block

  .left-side
    border-radius: 15px 15px 0 0

  .right-side
    border-radius: 0 0 15px 15px

  .bookmark
    margin-left: 100px
