$primaryBgColor: #E8F5E9
$primaryBgColorLight: #4caf50
$primaryBgColorDark: #43a047

$primaryTextColor: #E8F5E9
$primaryTextColorLight: #4caf50
$primaryTextColorDark: #43a047

$linkColor: #F0F4C3
$linkHoverColor: #E6EE9C

$pageTitleColor: #95d097

$accentBgColor: #1B5E20
$accentBgColorLight: #33691E

body
  margin: 0

.clearfix:after
	visibility: hidden
	display: block
	font-size: 0
	content: " "
	clear: both
	height: 0

* html .clearfix
  zoom: 1

*:first-child+html .clearfix
  zoom: 1

.unauth-menu
  list-style: none
  padding: 0
  margin: 1em

  li
    display: inline-block
    margin-right: 10px

    a
      text-transform: uppercase
      font-family: Lato, sans-serif
      padding: 10px 15px
      text-decoration: none
      color: $primaryTextColorLight
      font-weight: bold

      &:hover, &:focus
        color: $primaryTextColorDark
        background-color: $primaryBgColor
        transition: background-color 500ms

    &:last-child
      margin-right: 0

.left-side, .right-side
  width: 250px
  display: inline-block
  height: 390px
  overflow-y: auto
  padding: 15px
  font-family: Lato, sans-serif
  zoom: 1.2

  h1, h2
    color: $primaryTextColor

  h1
    font-size: 28px
    text-align: center
    margin-top: 12px

  h2
    font-size: 24px

  p
    text-align: justify
    color: $primaryTextColor

  a
    text-decoration: none
    color: $linkColor

    &:hover, &:focus
      color: $linkHoverColor

.left-side
  background-color: $primaryBgColorLight
  border-radius: 15px 0 0 15px

  img
    width: 96px
    height: 96px

.right-side
  background-color: $primaryBgColorDark
  border-radius: 0 15px 15px 0

.text-center
  text-align: center

.inline-block
  display: inline-block

.page-title
  float: right
  margin-top: -25px
  color: $pageTitleColor
  text-transform: uppercase
  cursor: default

.bookmark
  border: 15px solid $accentBgColorLight
  width: 0
  height: 17px
  border-bottom-color: transparent
  margin-left: 300px
  cursor: move
  zoom: 1.2

  &:hover, &:focus
    border-color: $accentBgColor $accentBgColor transparent $accentBgColor
    transition: border-color 2s

.signup-form
  font-family: Lato, sans-serif
  color: $primaryTextColor

  input
    display: block
    width: 100%
    border-width: 0
    padding: 4px
    margin: 4px 0
    font-family: Lato, sans-serif

  input[type="submit"]
    background-color: $accentBgColor
    cursor: pointer
    color: $primaryTextColor

    &:hover, &:focus
      background-color: $accentBgColorLight

.message
  background-color: $primaryBgColorLight
  padding: 10px

@media screen and (max-width: 850px)
  .left-side, .right-side, .bookmark
    zoom: 1

@media screen and (max-width: 600px)
  .left-side, .right-side
    display: block

  .left-side
    border-radius: 15px 15px 0 0

  .right-side
    border-radius: 0 0 15px 15px

  .bookmark
    margin-left: 100px
