<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
  <title>Book Trading Club</title>
  <link href="css/bundle.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
  <div id="container"><%- markup -%></div>
  <script src="js/bundle.min.js"></script>
</body>
</html>
